@import "config.css";

.redbox-table {
    border-collapse: collapse;
    width: 100%;
    margin-top:16px;
    table-layout: fixed;
  }

.redbox-table .browse-type{
    width : 20px;
}
  
.redbox-table td, .redbox-table th {
    border: 0px;
    padding: 8px;
}

.redbox-table tr:nth-child(even){background-color: #f2f2f2;}

.redbox-table tr:hover {background-color: #ddd;}

.redbox-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--redbox-light-color);
    color: white;
}

/* Browse related */
.browse-header-entry{
    padding: 0px 4px;
}

.player button{
    background: none;
    color: inherit;
    border: none;
    padding: 8px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


/* Radios Related */
/* Style tab links */
.radios-tablink-group{
    background-color:var(--redbox-dark-color);
    overflow: hidden;
}

.radios-tablink {
    background-color:var(--redbox-dark-color);
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .radios-tablink:hover {
    background-color: #777;
  }

  .radios-tablink.active {
    background-color: var(--redbox-light-color);
  }

  .radios-tablink i{
    margin-right: 10px;
  }

  .radios-tablink form{
    display: inline;
  }

  .radios-tablink button{
    background-color: #f44336; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding:4px 8px;
    margin-left: 4px;
  }
  
  .radios-add-bank{
    background-color:var(--redbox-dark-color);
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .radios-new-bank{
    background-color:var(--redbox-dark-color);
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Style the tab content (and add height:100% for full page content) */
  .radios-tabcontent {
    display: none;
  }

  .radios-tabcontent.active {
    display: block;
  }

 .radios-table {
   width:100%;
   table-layout:auto;
 }

 .radios-table-col-position{
    width: 50px;
  }
  
  .radios-table-col-name{
    width: 20%;
  }
   .radios-table-col-modify{
    width: 20px;
  }

  .radios-table-col-update{
    width: 20px;
  }
 