@import "config.css";

.redbox-table {
    border-collapse: collapse;
    width: 100%;
    margin-top:16px;
    table-layout: fixed;
  }

.redbox-table .browse-type{
    width : 20px;
}
  
.redbox-table td, .redbox-table th {
    border: 0px;
    padding: 8px;
}

.redbox-table tr:nth-child(even){background-color: #f2f2f2;}

.redbox-table tr:hover {background-color: #ddd;}

.redbox-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--redbox-light-color);
    color: white;
}

/* Browse related */
.browse-header-entry{
    padding: 0px 4px;
}

.player button{
    background: none;
    color: inherit;
    border: none;
    padding: 8px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


/* Radios Related */
/* Style tab links */
.radios-tablink-group{
    background-color:var(--redbox-dark-color);
    overflow: hidden;
}

.radios-tablink {
    background-color:var(--redbox-dark-color);
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .radios-tablink:hover {
    background-color: #777;
  }

  .radios-tablink.active {
    background-color: var(--redbox-light-color);
  }

  .radios-tablink i{
    margin-right: 10px;
  }

  .radios-tablink form{
    display: inline;
  }

  .radios-tablink button{
    background-color: #f44336; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1px 8px;
    margin: 0px 4px;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .radios-add-bank{
    background-color:var(--redbox-dark-color);
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .radios-new-bank{
    background-color:var(--redbox-dark-color);
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Style the tab content (and add height:100% for full page content) */
  .radios-tabcontent {
    display: none;
  }

  .radios-tabcontent.active {
    display: block;
  }

 .radios-table {
   width:100%;
   table-layout:auto;
   margin-bottom: 50px;
 }

 .radios-table-col-position{
    width: 50px;
  }
  
  .radios-table-col-name{
    width: 20%;
  }
   .radios-table-col-modify{
    width: 20px;
  }

  .radios-table-col-delete{
    width: 20px;
  }

  .radios-addradio{
    display: inline-block;
  }

  #radios-addradio{
    width:25%;
    display:none;
  }

  #radios-addradio input[type=number] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #radios-addradio input[type=text], select {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #radios-addradio button[type=submit] {
    width: 100%;
    background-color: var(--redbox-dark-color);
    color: white;
    padding: 8px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #radios-addradio button[type=submit]:hover {
    background-color: var(--redbox-dark-color);
  }

  .delete-radio form{
    display: inline;
  }

  .delete-radio button{
    background-color: #f44336; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1px 8px;
    margin: 0px 4px;
    border-radius: 2px;
    cursor: pointer;
  }