{% extends "base.html"%}
{% block body %}
<h3>Radios List</h3>
<table class="table">
    <thead id="radio-list-header">
    <tr>
        <th>Name</th>
        <th>URI</th>
        <th>Position</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for radio in radios %}
    <tr>
        <td>{{ escape(radio.name) }}</td>
        <td><a href="{{ escape(radio.uri) }}">{{ escape(radio.uri) }}</a></td>
        <td>{{ escape(str(radio.position)) }}</td>
        <td><a href="edit/{{ radio.id }}">Edit</a></td>
        <td><a href="delete/{{ radio.id }}">Delete</a></td>
    </tr>
    {% end %}
    </tbody>
</table> 
<a href="radio/add" class="btn btn-info" role="button">Add radio</a>

<h3>RSS List</h3>
<table class="table">
    <thead id="radio-list-header">
    <tr>
        <th>Name</th>
        <th>URI</th>
        <th>Position</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for rss in feeds %}
    <tr>
        <td>{{ escape(rss.name) }}</td>
        <td><a href="{{ escape(rss.uri) }}">{{ escape(rss.uri) }}</a></td>
        <td>{{ escape(str(rss.position)) }}</td>
        <td><a href="edit/{{ rss.id }}">Edit</a></td>
        <td><a href="delete/{{ rss.id }}">Delete</a></td>
    </tr>
    {% end %}
    </tbody>
</table> 
<a href="rss/add" class="btn btn-info" role="button">Add RSS</a>

{% end %}