{% extends "base.html"%}
{% block body %}
<script type="text/javascript" src="js/radios.js"></script>
<h3>Radios Configuration</h3>
<h4>Banks</h4>
<div class="radios-tablink-group">
<div id="radios-banks">
{% for bank in radios %}
<div id="radios-tab-{{bank}}" class="radios-tablink {{ 'active' if radio_bank == bank else '' }}" onclick="openPage('{{bank}}', this)">
    <i id="radio-tab-del-{{ bank}}" class="fas fa-minus-circle" onclick="deleteBank('{{bank}}')"></i>
    {{ bank }}
</div>
{%end for %}
</div>
<div class="radios-add-bank"><i class="fas fa-plus-circle" onclick="addBank()")></i></div>
</div>

<h4>Radios</h4>
{% for bank in radios %}
<div id="{{bank}}" class="radios-tabcontent {{ 'active' if radio_bank == bank else '' }}">
  <table id="radio" class="redbox-table radios-table">
    <thead>
        <tr>
            <th class="radios-table-col-position">Pos</th>
            <th class="radios-table-col-name">Name</th>
            <th class="radios-table-col-url">URL</th>
            <th class="radios-table-col-modify"></th>
            <th class="radios-table-col-delete"></th>
        </tr>
    </thead>
    <tbody>
        {% for radio in radios[bank] %}
        <tr>
            <td>{{ radio["position"] }}</td>
            <td>{{ radio["name"] }}</td>
            <td>{{ radio["stream_url"] }}</td>
            <td><i class="fas fa-pen"></i></td>
            <td><i class="fas fa-trash"></i></td>
        </tr>
        {%end for %}
    </tbody>
</table> 

<form id="radios-addradio" action="radios" method="post">
    <label for="position">Position (0-100)</label><input type="number" name="position" max=100 min=0><br>
    <label for="name">Name</label><input type="text" name="name"><br>
    <label for="url">URL</label><input type="text" name="url"><br>
    <button type="submit" name="add_radio" value="{{radio_bank if radio_bank else ''}}">Add New Radio</button>
</form>


</div>
{%end for %}
{% end %}