{% extends "base.html"%}
{% block body %}
<script type="text/javascript" src="js/index.js"></script>
<h2>Dashboard</h2>

<h3>Tuner</h3>

<div id="tuner-block">
    <div id="tuner-labels">
        <!-- <span class="tuner-label">Radio Meuh</span> -->
    </div>
    <input id="tuner-position" type="range" disabled="true"/>
</div>


<h3>Tracklist</h3>

<table id="tracklist" class="transistor-table">
    <thead>
        <tr>
            <th>Track Name</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


{% end %}